
<div class="container">

    <div id="myModal" class="modal">
        
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Take a Selfie Picture</p>
            <div>
                <video id="vid" width="300" height="550" autoplay></video>
                <canvas id="c" style="display:none;"></canvas>
            </div>
        </div>

        <div>
            <button id="takeApic" class="btn">Take a Pic</button>&nbsp;
            <button id="cancelBtn" class="btn">Close</button>
        </div>

    </div>
    <form method="post" id="verifyForm" asp-controller="Customer" asp-action="VerifyID" enctype="multipart/form-data">

        <div class="container">
            <h3>Select a Photo</h3>
            <div class="profile-pic-div form-group" id="picDiv">
                <img src="~/images/silhouette.jpeg" id="photo" class="imgPhoto" />
                <!--
        <input type="file" id="file" name="customer.file" accept="Image/png">-->
                <label for="file" id="uploadBtn">Click to snap a Photo</label>

            </div>
        </div>

        <div class="row form-group">
            <div class="col-100">
                <label for="actNo">Enter PASL Acc No.</label>
            </div>
            <div class="col-100">
                <input type="text" id="actNo" name="customer.actNo" placeholder="Enter your account number here..." class="form-control">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-100">
                <label for="ghCardNo">Ghana Card No (eg: GHA-xxxxxxxxx-x)</label>
            </div>
            <div class="col-100">
                <input type="text" id="ghCardNo" name="customer.ghCardNo" placeholder="Your Ghana card number goes here..." class="form-control">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-100">
                <label for="TelNo">Telephone No (eg:024xxxxxxx)</label>
            </div>
            <div class="col-100">
                <input type="text" id="TelNo" name="customer.TelNo" placeholder="Enter telephone number on file..." class="form-control">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-100">
                <label for="motherName">Mother's Maiden Name (eg:Adwoa Kum)</label>
            </div>
            <div class="col-100">
                <input type="text" id="motherName" name="customer.motherName" placeholder="Enter maiden name of your mother..." class="form-control">
            </div>
        </div>

        <div class="row form-group">
            <br />
            <input type="text" id="imgData" name="customer.imgData" value="" hidden>
        </div>

        <div class="row form-group">
            <br />
            <input type="submit" id="btnSubmit" value="Click to Verify">
        </div>

    </form>

    <script>const inpFile = document.getElementById("file");
        const picDiv = document.getElementById("picDiv");
        const photo = picDiv.querySelector(".imgPhoto");
        const submitBtn = document.getElementById("btnSubmit");


        inpFile.addEventListener("change", function () {
            const file = this.files[0];

            if (file) {

                const reader = new FileReader();
                photo.style.display = "block";

                reader.addEventListener("load", function () {
                    photo.setAttribute("src", this.result);
                })

                reader.readAsDataURL(file);
            }

        });

        
    </script>

    <script>

        const modal = document.getElementById("myModal");
        const span = document.getElementsByClassName("close")[0];
        const btn = document.getElementById("takeApic");
        const cancelBtn = document.getElementById("cancelBtn");

        const imgData = document.getElementById("imgData");

        /*bind the click event to the img element*/
        picDiv.addEventListener("click", (ev) => {
            ev.preventDefault();

            modal.style.display = "block";
        });


        cancelBtn.addEventListener("click", function (e) {
            e.preventDefault();
            modal.style.display = "none";
        })

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        var constraints = {
            audio: false,
            video: {
                width: 200,
                height: 200
            }
        }

        navigator.mediaDevices.getUserMedia(constraints).then(stream => {
                document.getElementById("vid").srcObject = stream;

                /*playing the video*/
                document.getElementById("vid").play();
            })
            .catch(function (err) {
            /* handle the error */

        })

        function takeSnapShot() {
            //function is responsible for taking a still photo
            const hidden_canvas = document.getElementById("c");
            const video = document.getElementById("vid");
            const photo = document.getElementById("photo");

            //getting the exact size of the video element
            const width = video.getAttribute("width");
            const height = video.getAttribute("height");

            const context = hidden_canvas.getContext("2d");

            //setting the dimensions of the hidden canvas to the video element
            hidden_canvas.width = width;
            hidden_canvas.height = height;

            //draw a copy of the current frame from the video element
            context.drawImage(video, 0, 0, width, height);

            /* get an image dataURL from the canvas */
            const imageDataUrl = hidden_canvas.toDataURL("image/png");
            imgData.setAttribute("value", imageDataUrl);

            console.log(imageDataUrl);
            //set the data URL as the source of the image
            photo.setAttribute("src", "");
            photo.setAttribute("src", imageDataUrl);
        }

        document.getElementById("takeApic").addEventListener("click", () => {
            //using the anonymous function to call the function that takes the selfie
            takeSnapShot();
        });</script>

    <script type="text/javascript">$(document).ready(function () {

            function handleResponse(res) {

                $("div.loader").hide();

                /* check if success is from response, is FALSE or not set */
                if (!res.isSuccess) {

                    /* handle unsuccessful scenario */
                }
                else {

                    /* handle successful scenario */
                    showSuccessMessage();
                }
            }

            function handleError(err) {
                $("div.loader").hide();
                if (xhr.responseText)
                    showErrorMessage(xhr.responseText);
                else
                    showErrorMessage("Error has occured. Please try again later.");
            }

            function showErrorMessage(message) {

                // show a popup logic or an alert logic
                var popup = $('#errorAlert');
                popup.removeClass('d-none');
                $('body').removeClass('loading');

                setTimeout(() => {
                    popup.addClass('d-none');
                }, 5000);
            }

            function showSuccessMessage(message) {

                // show a popup logic or an alert logic
                var popup = $('#successAlert');
                popup.text(message);
                popup.removeClass('d-none');
                $('body').removeClass('loading');

                setTimeout(() => {
                    popup.addClass('d-none');
                }, 5000);
            }

            /* submit event click */

            $('#verifyForm').on('submit', function (e) {
                e.preventDefault();

                $('body').addClass('loading');

                var f = $(e.currentTarget);

                var form = $('#verifyForm')[0];
                var dt = new FormData(form);
                dt.append("imgData", imgData);

                $.ajax({
                    type: 'POST',
                    url: f.attr('action'),
                    data: dt,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: handleResponse,
                    error: handleError
                });

            });

        });</script>


</div>